$color__primary--dark: #444848;
$color__primary--base: #44a5db;
$color__primary--xdark: #2d3132;

$color__secondary--light: #dddddd;
$color__secondary--base: #b2babe;
$color__secondary--dark: #898d90;

$color__productos--caribe: #cd2843;
$color__productos--santander: #f6b217;
$color__productos--opinion: #376b97;
$color__productos--siONo: #00537f;
$color__productos--conversaciones: #a6d164;
$color__productos--quienEsQuien: #675fb5;
$color__productos--hagameElCruce: #f06f38;
$color__productos--elIq: #5b3485;
$color__productos--laboratorio: #904091;
$color__productos--laSillaLlena: #033a5a;

$color__red--santander: #f6b217;
$color__red--caribe: #cd2843;
$color__red--deLaPaz: #009a67;
$color__red--deLaMujer: #b2406e;
$color__red--rural: #566275;
$color__red--deLaMineria: #b5805d;
$color__red--cachaca: #723158;
$color__red--deEducacion: #1c7b8d;
$color__red--lider: #414184;
$color__red--ambiental: #296653;
$color__red--deInnovacion: #537185;
$color__red--social: #D06032;
$color__red--cultural: #623F6B;

$color__partidos--alianzaVerde: #03a855;
$color__partidos--afros: #7f0101;
$color__partidos--asi: #a8a8a8;
$color__partidos--cambioRadical: #7e00ff;
$color__partidos--centroDemocratico: #4ad4ed;
$color__partidos--coalicionColombia: #a6d164;
$color__partidos--conservador: #012bb3;
$color__partidos--farc: #723158;
$color__partidos--indígenas: #1c7b8d;
$color__partidos--laU: #f08800;
$color__partidos--liberal: #cf2a24;
$color__partidos--listaDeLaDecencia: #d40096;
$color__partidos--mais: #d40096;
$color__partidos--mira: #001865;
$color__partidos--opcionCiudadana: #bb9c3c;
$color__partidos--otros: #a8a8a8;
$color__partidos--polo: #f0dc00;

$color__espaciales--procesoDePaz: #009a67;
$color__espaciales--elecciones2015: #00b16b;

$color__neutral--lightest: #efeff0;
$color__neutral--lighter: #b9b9c0;
$color__neutral--light: #8c8c9c;
$color__neutral--base: #778;
$color__neutral--dark: #636373;
$color__neutral--darker: #3f3f46;
$color__neutral--darkest: #1f1f20;